

<section *ngIf="selected_lang == 'en'">
  <div class="animated fadeIn">
      <div class="card">
        <div class="card-header">
          <strong>Part 1: Applicant Details </strong>
        </div>
        <div class="card-body">
          We will use this information for competition statistics, and to contact you about your entry. Your entry will not be assessed on these answers.
        </div>
      </div>
  </div>
  <div class="animated fadeIn">
      <div class="card">
        <!-- <div class="card-header">
          <strong>Application Details</strong>
        </div> -->
        <div class="card-body table-responsive">
          <form [formGroup]="applicationForm">
              <div class="form-group mb-4 ">
                  <label for="youth_led" class=" control-label">
                      What legal entity are you entering the challenge as? 
                    <span class="mark-required text-danger ml-1">*</span>
                  </label>
                  <div class="">
                      <ng-select id="youth_led" class="required" formControlName="entity" >
                        <ng-option selected disabled value="">--Select Below--</ng-option>
                        <ng-option value="An individual">An individual</ng-option>
                        <ng-option value="A community group">A community group</ng-option>
                        <ng-option value="A single Organisation">A single Organisation</ng-option>
                        <ng-option value="A Group/consortia (in partnership)">A Group/consortia (in partnership)</ng-option>
                        <ng-option value="A government agency/ organisation">A government agency/ organisation</ng-option>
                      </ng-select>
                  </div>
                </div>
                  <div class="form-group mb-4">
                        <label for="country_based" class="control-label">
                              In what country is your solution team primarily based?
                              <span class="mark-required text-danger ml-1">*</span>
                        </label>
                        <div class="">
                            <input id="country_based"  type="type" class="form-control"  formControlName="country_based"/>                                 
                        </div>
                  </div>
                  <div class="form-group mb-4">
                        <label for="organization" class="control-label">
                              Organisation name 
                              <span class="mark-required text-danger ml-1">*</span>
                        </label>
                        <div class="">
                            <input id="organization"  type="type" class="form-control"  formControlName="organization_name"/>                                 
                        </div>
                  </div>
                  <div class="form-group mb-4 ">
                    <label for="youth_led" class=" control-label">
                      Is your organisation youth-led or youth owned? 
                      <span class="mark-required text-danger ml-1">*</span>
                      <br>
                      <mark>(Youth-led/owned is between 18-35 age)</mark>
                    </label>
                    <div class="">
                        <ng-select id="youth_led" class="required" formControlName="youth_led" >
                          <ng-option selected disabled value="">--Select Below--</ng-option>
                          <ng-option value="Yes">Yes</ng-option>
                          <ng-option value="No">No</ng-option>
                        </ng-select>
                    </div>
                  </div>
                  <div class="form-group mb-4">
                      <label for="founded" class="control-label">
                          When was your organisation founded and by whom?
                          <span class="mark-required text-danger ml-1">*</span>
                          <br> 
                          <mark>(Word Limit: 50)</mark>
                      </label>
                      <div class="">
                        <textarea rows="6" id="founded"  type="type" class="form-control"  formControlName="founded" placeholder="Type here..." (input)="CheckLen($event,50,'founded')" [maxLength]="max_Length"> </textarea>
                        <small class="text-danger" *ngIf="applicationForm.get('founded').errors?.max_length">Word Limit Exceeded</small>                                
                      </div>
                  </div>
                  <div class="form-group mb-4">
                      <label for="country_registered" class="control-label">
                          Which country is your organisation registered in? 
                          <span class="mark-required text-danger ml-1">*</span>
                      </label>
                      <div class="">
                          <ng-select id="location" class="required" formControlName="country_registered" >
                              <ng-option selected disabled value="">--Select Below--</ng-option>
                              <ng-option [value]="country.name" *ngFor="let country of countries">{{country.name}}</ng-option>
                          </ng-select>                              
                      </div>
                  </div>
                  <div class="form-group mb-4">
                      <label for="registration_files" class="control-label">
                          If you are a registered organisation, please provide evidence of your registration. 
                          <br>
                          <mark>
                              (Please upload any relevant certificates or documentation. You can choose multiple files | Optional)
                          </mark> 
                          <!-- <span class="mark-required text-danger ml-1">*</span> -->
                      </label>
                      <div class="">
                        <input id="registration_files"  type="file" formControlName='registration_files' multiple class="form-control" (change)="handleFileupload($event)"/>                                 
                      </div>
                      <div class="mt-2" *ngIf="saved_files?.length !== 0">
                        <ul>
                          <ng-container *ngFor="let file of saved_files">
                            <li *ngIf="file?.title == 'registration_files'">
                              <a href={{serverurl}}{{file?.url}} target="_blank">{{file?.name}}</a> <span (click)="delete_file(file?.id)" class="text-danger btn-link fa fa-trash ml-5"></span>
                            </li>
                          </ng-container >                          
                        </ul>
                    </div>
                  </div>
                  <div class="form-group mb-4 ">
                    <label for="business_majority" class=" control-label">
                      Is your business majority (i.e. over 50%) owned by individuals who self-identify as:
                      <span class="mark-required text-danger ml-1">*</span>
                    </label>
                    <div class="">
                        <ng-select id="business_majority" class="required" formControlName="business_majority" >
                          <ng-option selected disabled value="">--Select Below--</ng-option>
                          <ng-option value="Men">Men</ng-option>
                          <ng-option value="Women">Women</ng-option>
                        </ng-select>
                    </div>
                </div>
                <div class="form-group mb-4 ">
                  <label for="staff_size" class=" control-label">
                      What is the size of your Organisation (team/staff)?
                      <span class="mark-required text-danger ml-1">*</span>
                      <br>
                      <mark>
                          (Select N/A if not applicable)
                      </mark>
                  </label>
                  <div class="">
                      <ng-select id="staff_size" class="required" formControlName="staff_size" >
                        <ng-option selected disabled value="">--Select Below--</ng-option>
                        <ng-option value="0-10">0-10</ng-option>
                        <ng-option value="11-50">11-50</ng-option>
                        <ng-option value="51-200">51-200</ng-option>
                        <ng-option value="200+">200+</ng-option>
                        <ng-option value="N/A">N/A</ng-option>
                      </ng-select>
                  </div>
              </div>
              <div class="form-group mb-4">
                  <label for="website" class="control-label">
                      Please provide a website/webpage for your organisation/proposal. 
                      <span class="mark-required text-danger ml-1">*</span>
                      <br>
                      <mark>
                          (Enter N/A if you do not have one)
                      </mark> 
                  </label>
                  <div class="">
                    <input id="website"  type="url" formControlName='website'  class="form-control"/>                                 
                  </div>
              </div>
              <div class="form-group mb-4">
                  <label for="contact_name" class="control-label">
                      Main contact name 
                      <span class="mark-required text-danger ml-1">*</span>
                  </label>
                  <div class="">
                    <input id="contact_name"  type="text" formControlName='contact_name'  class="form-control"/>                                 
                  </div>
              </div>
              <div class="form-group mb-4">
                  <label for="contact_email" class="control-label">
                      Main contact email address
                      <span class="mark-required text-danger ml-1">*</span>
                      <br>
                      <mark>(Please do not use an info@ email, we will use this to contact you about your application as well as send you other related information)</mark>
                  </label>
                  <div class="">
                    <input id="contact_email"  type="email" formControlName='contact_email'  class="form-control"/>                                 
                  </div>
              </div>
              <div class="form-group mb-4">
                  <label for="contact_phone" class="control-label">
                      Main contact phone number 
                      <span class="mark-required text-danger ml-1">*</span>
                      <br>
                      <mark>(Please include country code)</mark>
                  </label>
                  <div class="">
                    <input id="contact_phone"  type="phone" formControlName='contact_phone'  class="form-control"/>                                 
                  </div>
              </div>
              <div class="form-group mb-4">
                  <label for="organization_address" class="control-label">
                      Organisation postal address / individual postal address 
                      <span class="mark-required text-danger ml-1">*</span>
                  </label>
                  <div class="">
                    <textarea id="organization_address"  formControlName='organization_address'  class="form-control" placeholder="Address line 1; Address line 2; City; Postal / Zip Code / Country" rows="6"></textarea>                                 
                  </div>
              </div>
              <div class="form-group mb-4">
                  <label for="alternative_contact_name" class="control-label">
                      Name of an alternative contact 
                      <span class="mark-required text-danger ml-1">*</span>
                  </label>
                  <div class="">
                    <input id="alternative_contact_name"  type="text" formControlName='alternative_contact_name'  class="form-control"/>                                 
                  </div>
              </div>
              <div class="form-group mb-4">
                <label for="alternative_contact_title" class="control-label">
                      Alternative contact's job title 
                      <span class="mark-required text-danger ml-1">*</span>
                  </label>
                  <div class="">
                    <ng-select id="alternative_contact_title" class="required" formControlName="alternative_contact_title" >
                      <ng-option selected disabled value="">--Select Below--</ng-option>
                      <ng-option value="Colleague / Co-Founder">Colleague / Co-Founder</ng-option>
                      <ng-option value="Partner">Partner</ng-option>
                      <ng-option value="Director">Director</ng-option>
                      <ng-option value="Other">Other</ng-option>
                    </ng-select>
                </div>
              </div>
              <div class="form-group mb-4">
                <label for="alternative_contact_email" class="control-label">
                    Email Address of alternative contact
                    <span class="mark-required text-danger ml-1">*</span>
                </label>
                <div class="">
                  <input id="alternative_contact_email"  type="email" formControlName='alternative_contact_email'  class="form-control"/>                                 
                </div>
              </div>
              <div class="form-group mb-4">
                <label for="alternative_contact_phone" class="control-label">
                    Alternative contact phone number 
                    <span class="mark-required text-danger ml-1">*</span>
                    <br>
                    <mark>(Please include country code)</mark>
                </label>
                <div class="">
                  <input id="alternative_contact_phone"  type="email" formControlName='alternative_contact_phone'  class="form-control"/>                                 
                </div>
              </div>

              <div class="col-sm-12 ">
                <button type="submit" class="btn btn-success float-left" (click)="back()"><i class="fa fa-backward"></i> Back</button>
                <button type="submit" class="btn btn-success float-right" (click)="save_data()">Next <i class="fa fa-forward"></i></button>
              </div>
        </form>
        </div>
      </div>
  </div>
</section>


<section *ngIf="selected_lang == 'fr'">
  <div class="animated fadeIn">
    <div class="card">
      <div class="card-header">
        <strong>Partie 1 : Détails du Demandeur </strong>
      </div>
      <div class="card-body">
        Nous utiliserons ces informations pour les statistiques du concours et pour vous contacter au propos de votre participation. Votre participation ne sera pas évaluée sur la base de ces réponses.
      </div>
    </div>
</div>
<div class="animated fadeIn">
    <div class="card">
      <!-- <div class="card-header">
        <strong>Application Details</strong>
      </div> -->
      <div class="card-body table-responsive">
        <form [formGroup]="applicationForm">
            <div class="form-group mb-4 ">
                <label for="youth_led" class=" control-label">
                  Quelle est l'entité juridique sous laquelle vous participez au défi ?
                  <span class="mark-required text-danger ml-1">*</span>
                </label>
                <div class="">
                    <ng-select id="youth_led" class="required" formControlName="entity" >
                      <ng-option selected disabled value="">--Sélectionnez ci-dessous--</ng-option>
                      <ng-option value="Un individu">Un individu</ng-option>
                      <ng-option value="Un groupe communautaire">Un groupe communautaire</ng-option>
                      <ng-option value="une organisation unique">Une organisation unique</ng-option>
                      <ng-option value="Un groupe/consortia (en partenariat)">Un groupe/consortia (en partenariat)</ng-option>
                      <ng-option value="une agence/organisation gouvernementale">une agence/organisation gouvernementale</ng-option>
                    </ng-select>
                </div>
              </div>
                <div class="form-group mb-4">
                      <label for="country_based" class="control-label">
                        Dans quel pays votre équipe de solution est-elle principalement basée ?
                            <span class="mark-required text-danger ml-1">*</span>
                      </label>
                      <div class="">
                          <input id="country_based"  type="type" class="form-control"  formControlName="country_based"/>                                 
                      </div>
                </div>
                <div class="form-group mb-4">
                      <label for="organization" class="control-label">
                        Nom de l'organisation 
                            <span class="mark-required text-danger ml-1">*</span>
                      </label>
                      <div class="">
                          <input id="organization"  type="type" class="form-control"  formControlName="organization_name"/>                                 
                      </div>
                </div>
                <div class="form-group mb-4 ">
                  <label for="youth_led" class=" control-label">
                    Votre organisation est-elle dirigée par des jeunes ou détenue par des jeunes  ?
                    <span class="mark-required text-danger ml-1">*</span>
                    <br>
                    <mark>(dirigée par des jeunes/appartenant à des jeunes âgés de 18 à 35 ans)</mark>
                  </label>
                  <div class="">
                      <ng-select id="youth_led" class="required" formControlName="youth_led" >
                        <ng-option selected disabled value="">--sélectionnez ci-dessous--</ng-option>
                        <ng-option value="oui">oui</ng-option>
                        <ng-option value="Non">Non</ng-option>
                      </ng-select>
                  </div>
                </div>
                <div class="form-group mb-4">
                    <label for="founded" class="control-label">
                        When was your organisation founded and by whom?
                        <span class="mark-required text-danger ml-1">*</span>
                        <br> 
                        <mark>(Limite: 50 mots)</mark>
                    </label>
                    <div class="">
                      <textarea rows="6" id="founded"  type="type" class="form-control"  formControlName="founded" placeholder="Type here..." (input)="CheckLen($event,50,'founded')" [maxLength]="max_Length"> </textarea>
                      <small class="text-danger" *ngIf="applicationForm.get('founded').errors?.max_length">Limite de mots dépassée</small>                                
                    </div>
                </div>
                <div class="form-group mb-4">
                    <label for="country_registered" class="control-label">
                      Dans quel pays votre organisation est-elle enregistrée (si vous vous inscrivez en tant qu'individu, dans quel pays résidez-vous) ?  
                        <span class="mark-required text-danger ml-1">*</span>
                    </label>
                    <div class="">
                        <ng-select id="location" class="required" formControlName="country_registered" >
                            <ng-option selected disabled value="">--sélectionnez ci-dessous--</ng-option>
                            <ng-option [value]="country.name" *ngFor="let country of countries">{{country.name}}</ng-option>
                        </ng-select>                              
                    </div>
                </div>
                <div class="form-group mb-4">
                    <label for="registration_files" class="control-label">
                      Si vous êtes une organisation enregistrée, veuillez fournir une preuve de votre enregistrement 
                        <br>
                        <mark>
                            (Veuillez télécharger tous les certificats ou documents pertinents. Vous pouvez choisir plusieurs fichiers)
                        </mark> 
                        <span class="mark-required text-danger ml-1">*</span>
                    </label>
                    <div class="">
                      <input id="registration_files"  type="file" formControlName='registration_files' multiple class="form-control" (change)="handleFileupload($event)"/>                                 
                    </div>
                    <div class="mt-2" *ngIf="saved_files?.length !== 0">
                      <ul>
                        <ng-container *ngFor="let file of saved_files">
                          <li *ngIf="file?.title == 'registration_files'">
                            <a href={{serverurl}}{{file?.url}} target="_blank">{{file?.name}}</a> <span (click)="delete_file(file?.id)" class="text-danger btn-link fa fa-trash ml-5"></span>
                          </li>
                        </ng-container >                          
                      </ul>
                  </div>
                </div>
                <div class="form-group mb-4 ">
                  <label for="business_majority" class=" control-label">
                    Votre entreprise est-elle détenue majoritairement (c'est-à-dire à plus de 50 %) par des personnes qui s'identifient comme.. :
                    <span class="mark-required text-danger ml-1">*</span>
                  </label>
                  <div class="">
                      <ng-select id="business_majority" class="required" formControlName="business_majority" >
                        <ng-option selected disabled value="">--sélectionnez ci-dessous--</ng-option>
                        <ng-option value="Men">Men</ng-option>
                        <ng-option value="Femmes">Femmes</ng-option>
                      </ng-select>
                  </div>
              </div>
              <div class="form-group mb-4 ">
                <label for="staff_size" class=" control-label">
                  Quelle est la taille de votre organisation ?
                  
                    <span class="mark-required text-danger ml-1">*</span>
                    <br>
                    <mark>
                        (Sélectionnez N/A si non applicable)
                    </mark>
                </label>
                <div class="">
                    <ng-select id="staff_size" class="required" formControlName="staff_size" >
                      <ng-option selected disabled value="">--sélectionnez ci-dessous--</ng-option>
                      <ng-option value="0-10">0-10</ng-option>
                      <ng-option value="11-50">11-50</ng-option>
                      <ng-option value="51-200">51-200</ng-option>
                      <ng-option value="200+">200+</ng-option>
                      <ng-option value="N/A">N/A</ng-option>
                    </ng-select>
                </div>
            </div>
            <div class="form-group mb-4">
                <label for="website" class="control-label">
                  Veuillez fournir un site web/une page web pour votre organisation/proposition 
                  
                    <span class="mark-required text-danger ml-1">*</span>
                    <br>
                    <mark>
                      Entrez N/A si vous n'en avez pas
                    </mark> 
                </label>
                <div class="">
                  <input id="website"  type="url" formControlName='website'  class="form-control"/>                                 
                </div>
            </div>
            <div class="form-group mb-4">
                <label for="contact_name" class="control-label">
                  Nom du contact principal
                    <span class="mark-required text-danger ml-1">*</span>
                </label>
                <div class="">
                  <input id="contact_name"  type="text" formControlName='contact_name'  class="form-control"/>                                 
                </div>
            </div>
            <div class="form-group mb-4">
                <label for="contact_email" class="control-label">
                  E-mail du contact principal 
                    <span class="mark-required text-danger ml-1">*</span>
                    <br>
                    <mark>(Veuillez ne pas utiliser d'e-mail info@, nous l'utiliserons pour vous contacter au sujet de votre candidature ainsi que pour vous envoyer d'autres informations connexes)</mark>
                </label>
                <div class="">
                  <input id="contact_email"  type="email" formControlName='contact_email'  class="form-control"/>                                 
                </div>
            </div>
            <div class="form-group mb-4">
                <label for="contact_phone" class="control-label">
                  Numéro de téléphone du contact principal 
                  
                    <span class="mark-required text-danger ml-1">*</span>
                    <br>
                    <mark>(Veuillez inclure le code du pays)</mark>
                </label>
                <div class="">
                  <input id="contact_phone"  type="phone" formControlName='contact_phone'  class="form-control"/>                                 
                </div>
            </div>
            <div class="form-group mb-4">
                <label for="organization_address" class="control-label">
                  Adresse postale de l'organisation 
                    <span class="mark-required text-danger ml-1">*</span>
                </label>
                <div class="">
                  <textarea id="organization_address"  formControlName='organization_address'  class="form-control" placeholder="Address line 1; Address line 2; City; Postal / Zip Code / Country" rows="6"></textarea>                                 
                </div>
            </div>
            <div class="form-group mb-4">
                <label for="alternative_contact_name" class="control-label">
                  Nom d'un contact alternatif 
                    <span class="mark-required text-danger ml-1">*</span>
                </label>
                <div class="">
                  <input id="alternative_contact_name"  type="text" formControlName='alternative_contact_name'  class="form-control"/>                                 
                </div>
            </div>
            <div class="form-group mb-4">
              <label for="alternative_contact_title" class="control-label">
                Titre du poste du contact alternatif  
                    <span class="mark-required text-danger ml-1">*</span>
                </label>
                <div class="">
                  <ng-select id="alternative_contact_title" class="required" formControlName="alternative_contact_title" >
                    <ng-option selected disabled value="">--sélectionnez ci-dessous--</ng-option>
                    <ng-option value="Collègue / Cofondateur">Collègue / Cofondateur</ng-option>
                    <ng-option value="Partenaire">Partenaire</ng-option>
                    <ng-option value="Directeur">Directeur</ng-option>
                    <ng-option value="Other">Autre</ng-option>
                  </ng-select>
              </div>
            </div>
            <div class="form-group mb-4">
              <label for="alternative_contact_email" class="control-label">
                E-mail du contact alternatif 
                  <span class="mark-required text-danger ml-1">*</span>
              </label>
              <div class="">
                <input id="alternative_contact_email"  type="email" formControlName='alternative_contact_email'  class="form-control"/>                                 
              </div>
            </div>
            <div class="form-group mb-4">
              <label for="alternative_contact_phone" class="control-label">
                Numéro de téléphone de contact alternatif 
                
                  <span class="mark-required text-danger ml-1">*</span>
                  <br>
                  <mark>(Veuillez inclure le code du pays) </mark>
              </label>
              <div class="">
                <input id="alternative_contact_phone"  type="email" formControlName='alternative_contact_phone'  class="form-control"/>                                 
              </div>
            </div>

            <div class="col-sm-12 ">
              <button type="submit" class="btn btn-success float-left" (click)="back()"><i class="fa fa-backward"></i> Retour</button>
              <button type="submit" class="btn btn-success float-right" (click)="save_data()">Suivante <i class="fa fa-forward"></i></button>
            </div>
      </form>
      </div>
    </div>
</div>
</section>


<section *ngIf="selected_lang == 'pt'">
  <div class="animated fadeIn">
      <div class="card">
        <div class="card-header">
          <strong>Parte 1: Detalhes do solicitante </strong>
        </div>
        <div class="card-body">
          Usaremos esta informação para as estatísticas da competência e para comunicarnos acerca da sua participação. Sua entrada não será avaliada nestas respostas.
        </div>
      </div>
  </div>
  <div class="animated fadeIn">
      <div class="card">
        <div class="card-body table-responsive">
          <form [formGroup]="applicationForm">
              <div class="form-group mb-4 ">
                  <label for="youth_led" class=" control-label">
                    ¿Con qué entidad legal participa en el desafío?
                    <span class="mark-required text-danger ml-1">*</span>
                  </label>
                  <div class="">
                      <ng-select id="youth_led" class="required" formControlName="entity" >
                        <ng-option selected disabled value="">--Selecione abaixo--</ng-option>
                        <ng-option value="Um indivíduo">Um indivíduo</ng-option>
                        <ng-option value="Um grupo comunitário">Um grupo comunitário</ng-option>
                        <ng-option value="Organização única">Organização única</ng-option>
                        <ng-option value="A Grupo/consórcios (en asociación)">A Grupo/consórcios (en asociación)</ng-option>
                        <ng-option value="uma agência u organização governamental">uma agência u organização governamental</ng-option>
                      </ng-select>
                  </div>
                </div>
                  <div class="form-group mb-4">
                        <label for="country_based" class="control-label">
                          ¿En qué país se encuentra principalmente su equipo de soluciones?
                              <span class="mark-required text-danger ml-1">*</span>
                        </label>
                        <div class="">
                            <input id="country_based"  type="type" class="form-control"  formControlName="country_based"/>                                 
                        </div>
                  </div>
                  <div class="form-group mb-4">
                        <label for="organization" class="control-label">
                          Nome da organização
                              <span class="mark-required text-danger ml-1">*</span>
                        </label>
                        <div class="">
                            <input id="organization"  type="type" class="form-control"  formControlName="organization_name"/>                                 
                        </div>
                  </div>
                  <div class="form-group mb-4 ">
                    <label for="youth_led" class=" control-label">
                      Sua organização é liderada por jovens ou de propriedade de jovens? 
                      <span class="mark-required text-danger ml-1">*</span>
                      <br>
                      <mark>(Liderado/de propriedade de jovens tem entre 18 e 35 anos)</mark>
                    </label>
                    <div class="">
                        <ng-select id="youth_led" class="required" formControlName="youth_led" >
                          <ng-option selected disabled value="">--Selecione abaixo--</ng-option>
                          <ng-option value="Yes">Yes</ng-option>
                          <ng-option value="No">No</ng-option>
                        </ng-select>
                    </div>
                  </div>
                  <div class="form-group mb-4">
                      <label for="founded" class="control-label">
                        Quando sua organização foi fundada e por quem?
                          <span class="mark-required text-danger ml-1">*</span>
                          <br> 
                          <mark>(Limite de palavras: 50)</mark>
                      </label>
                      <div class="">
                        <textarea rows="6" id="founded"  type="type" class="form-control"  formControlName="founded" placeholder="Type here..." (input)="CheckLen($event,50,'founded')" [maxLength]="max_Length"> </textarea>
                        <small class="text-danger" *ngIf="applicationForm.get('founded').errors?.max_length">Word Limit Exceeded</small>                                
                      </div>
                  </div>
                  <div class="form-group mb-4">
                      <label for="country_registered" class="control-label">
                        ¿En qué país está registrado na organização (se ingresa como indivíduo, en qué país reside)? 
                          <span class="mark-required text-danger ml-1">*</span>
                      </label>
                      <div class="">
                          <ng-select id="location" class="required" formControlName="country_registered" >
                              <ng-option selected disabled value="">--Selecione abaixo--</ng-option>
                              <ng-option [value]="country.name" *ngFor="let country of countries">{{country.name}}</ng-option>
                          </ng-select>                              
                      </div>
                  </div>
                  <div class="form-group mb-4">
                      <label for="registration_files" class="control-label">
                        Se você é uma organização registrada, forneça evidências de seu registro.
                          <br>
                          <mark>
                              (Faça o upload de quaisquer certificados ou documentação relevantes. Você pode escolher vários arquivos)
                          </mark> 
                          <span class="mark-required text-danger ml-1">*</span>
                      </label>
                      <div class="">
                        <input id="registration_files"  type="file" formControlName='registration_files' multiple class="form-control" (change)="handleFileupload($event)"/>                                 
                      </div>
                      <div class="mt-2" *ngIf="saved_files?.length !== 0">
                        <ul>
                          <ng-container *ngFor="let file of saved_files">
                            <li *ngIf="file?.title == 'registration_files'">
                              <a href={{serverurl}}{{file?.url}} target="_blank">{{file?.name}}</a> <span (click)="delete_file(file?.id)" class="text-danger btn-link fa fa-trash ml-5"></span>
                            </li>
                          </ng-container >                          
                        </ul>
                    </div>
                  </div>
                  <div class="form-group mb-4 ">
                    <label for="business_majority" class=" control-label">
                      A maioria da sua empresa (ou seja, mais de 50%) é de propriedade de indivíduos que se identificam como:
                      <span class="mark-required text-danger ml-1">*</span>
                    </label>
                    <div class="">
                        <ng-select id="business_majority" class="required" formControlName="business_majority" >
                          <ng-option selected disabled value="">--Selecione abaixo--</ng-option>
                          <ng-option value="Homens">Homens</ng-option>
                          <ng-option value="Mulheres">Mulheres</ng-option>
                        </ng-select>
                    </div>
                </div>
                <div class="form-group mb-4 ">
                  <label for="staff_size" class=" control-label">
                    ¿Cuál é o tamanho da sua organização? 
                      <span class="mark-required text-danger ml-1">*</span>
                      <br>
                      <mark>
                          (Selecione N/A sim não corresponde)
                      </mark>
                  </label>
                  <div class="">
                      <ng-select id="staff_size" class="required" formControlName="staff_size" >
                        <ng-option selected disabled value="">--Selecione abaixo--</ng-option>
                        <ng-option value="0-10">0-10</ng-option>
                        <ng-option value="11-50">11-50</ng-option>
                        <ng-option value="51-200">51-200</ng-option>
                        <ng-option value="200+">200+</ng-option>
                        <ng-option value="N/A">N/A</ng-option>
                      </ng-select>
                  </div>
              </div>
              <div class="form-group mb-4">
                  <label for="website" class="control-label">
                    Forneça um site/página da Web para sua organização/proposta. 
                      <span class="mark-required text-danger ml-1">*</span>
                      <br>
                      <mark>
                          (Digite N/A se você não tiver um)
                      </mark> 
                  </label>
                  <div class="">
                    <input id="website"  type="url" formControlName='website'  class="form-control"/>                                 
                  </div>
              </div>
              <div class="form-group mb-4">
                  <label for="contact_name" class="control-label">
                    Nome do contato principal
                      <span class="mark-required text-danger ml-1">*</span>
                  </label>
                  <div class="">
                    <input id="contact_name"  type="text" formControlName='contact_name'  class="form-control"/>                                 
                  </div>
              </div>
              <div class="form-group mb-4">
                  <label for="contact_email" class="control-label">
                    Direção de correio eletrônico de contato principal
                      <span class="mark-required text-danger ml-1">*</span>
                      <br>
                      <mark>(Por favor, não use um e-mail info@, usaremos isso para entrar em contato com você sobre sua inscrição, bem como enviar outras informações relacionadas)</mark>
                  </label>
                  <div class="">
                    <input id="contact_email"  type="email" formControlName='contact_email'  class="form-control"/>                                 
                  </div>
              </div>
              <div class="form-group mb-4">
                  <label for="contact_phone" class="control-label">
                    Número do telefone de contato principal
                      <span class="mark-required text-danger ml-1">*</span>
                      <br>
                      <mark>(Inclua o código do país)</mark>
                  </label>
                  <div class="">
                    <input id="contact_phone"  type="phone" formControlName='contact_phone'  class="form-control"/>                                 
                  </div>
              </div>
              <div class="form-group mb-4">
                  <label for="organization_address" class="control-label">
                    Direção postal da organização / direção postal individual 
                      <span class="mark-required text-danger ml-1">*</span>
                  </label>
                  <div class="">
                    <textarea id="organization_address"  formControlName='organization_address'  class="form-control" placeholder="Address line 1; Address line 2; City; Postal / Zip Code / Country" rows="6"></textarea>                                 
                  </div>
              </div>
              <div class="form-group mb-4">
                  <label for="alternative_contact_name" class="control-label">
                    Nome de um contato alternativo 
                      <span class="mark-required text-danger ml-1">*</span>
                  </label>
                  <div class="">
                    <input id="alternative_contact_name"  type="text" formControlName='alternative_contact_name'  class="form-control"/>                                 
                  </div>
              </div>
              <div class="form-group mb-4">
                <label for="alternative_contact_title" class="control-label">
                  Título de trabalho do contato alternativo
                      <span class="mark-required text-danger ml-1">*</span>
                  </label>
                  <div class="">
                    <ng-select id="alternative_contact_title" class="required" formControlName="alternative_contact_title" >
                      <ng-option selected disabled value="">--Selecione abaixo--</ng-option>
                      <ng-option value="Colega / Co-Fundador">Colega / Co-Fundador</ng-option>
                      <ng-option value="Companheiro">Companheiro</ng-option>
                      <ng-option value="Director">Director</ng-option>
                      <ng-option value="Other">Outro</ng-option>
                    </ng-select>
                </div>
              </div>
              <div class="form-group mb-4">
                <label for="alternative_contact_email" class="control-label">
                  Direção de correio eletrônico do contato alternativo
                    <span class="mark-required text-danger ml-1">*</span>
                </label>
                <div class="">
                  <input id="alternative_contact_email"  type="email" formControlName='alternative_contact_email'  class="form-control"/>                                 
                </div>
              </div>
              <div class="form-group mb-4">
                <label for="alternative_contact_phone" class="control-label">
                  Número de telefone de conteúdo alternativo
                    <span class="mark-required text-danger ml-1">*</span>
                    <br>
                    <mark>(Inclua o código do país)</mark>
                </label>
                <div class="">
                  <input id="alternative_contact_phone"  type="email" formControlName='alternative_contact_phone'  class="form-control"/>                                 
                </div>
              </div>

              <div class="col-sm-12 ">
                <button type="submit" class="btn btn-success float-left" (click)="back()"><i class="fa fa-backward"></i> De volta</button>
                <button type="submit" class="btn btn-success float-right" (click)="save_data()">Prosseguir <i class="fa fa-forward"></i></button>
              </div>
        </form>
        </div>
      </div>
  </div>
</section>
  