<app-header
  [navbarBrandRouterLink]="['/dashboard']"
  [fixed]="true"
  [navbarBrandFull]=" "
  [navbarBrandMinimized]="{src: 'assets/favicon.ico', width: 30, height: 30, alt: 'YouthADAPT '}"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="'lg'" style="background: #fff !important; color: #fff; ">
  <ul class="nav navbar-nav d-md-down-none">

    <li class="nav-item px-3 text-white">

   </li>
  </ul>

  <ul class="nav navbar-nav ml-auto">

  <strong>
    <span class="text-success">{{loggedinname | titlecase}}</span>
  </strong>


    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
        <i class="fa fa-user fa-2x text-primary" aria-hidden="true"></i>
      </a>
     
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>My Account</strong></div>
        <div class="divider"></div>
        <!-- <a class="dropdown-item" href="#"><i class="fa fa-shield"></i> Lock account</a> -->
        <!-- <a class="dropdown-item" (click)="changepassword()"><i class="fa fa-user"></i> Profile</a>  -->
        <!-- <a class="dropdown-item"><i class="fa fa-user"></i> Profile</a> -->
        <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</a>
      </div>
      
      
    </li>
  </ul>
</app-header>
