<app-header
  [navbarBrandRouterLink]="['/dashboard']"
  [fixed]="true"
  [navbarBrandFull]=" "
  [navbarBrandMinimized]="{src: 'assets/favicon.ico', width: 30, height: 30, alt: 'YouthADAPT '}"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="'lg'" style="background: #fff !important; color: #fff; ">
  <ul class="nav navbar-nav d-md-down-none">

    <li class="nav-item px-3 text-white">
      <img src='assets/cop27_logos_v2.jpg'  height="50px" /> 
      <!-- <img src='assets/gca_afdb_logo.png'  height="50px" />  -->
     
        <!-- <a class="nav-link" href="https://vimeo.com/642829173" target="_blank">African Youth Adaptation Solutions Challenge</a> -->
   </li>
  </ul>
  <!-- <img src='assets/gca_afdb_logo.png'  height="50px" />  
  <h4><span class="">African Youth Adaptation Solutions Challenge </span></h4>  -->
  <ul class="nav navbar-nav ml-auto">
   
  <!-- <span class="text-primary">Welcome: &nbsp; &nbsp; </span> -->
  <button class="btn btn-link" (click)="langModal.show()">
    <small>
       <span *ngIf="selected_lang == 'en'">English</span>
      <span *ngIf="selected_lang == 'fr'">French</span>
      <span *ngIf="selected_lang == 'pt'">Portuguese</span>
    </small>
  </button> 
  <strong>
    <span class="text-success">|&nbsp; {{loggedinname | titlecase}}</span>
  </strong>


    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
        <!-- <img src="assets/gca_logo.png" alt="GCA" style="height:40px;"/> -->
        <i class="fa fa-user fa-2x text-primary" aria-hidden="true"></i>
      </a>
     
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>My Account</strong></div>
        <div class="divider"></div>
        <!-- <a class="dropdown-item" href="#"><i class="fa fa-shield"></i> Lock account</a> -->
        <a class="dropdown-item" (click)="changepassword()"><i class="fa fa-user"></i> Profile</a> 
        <!-- <a class="dropdown-item"><i class="fa fa-user"></i> Profile</a> -->
        <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</a>
      </div>
      
      
    </li>
  </ul>
</app-header>


<div bsModal #langModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document" >
  <div class="modal-content">
    <div class="modal-body">
        <div class="form-group">
          <label class="col-sm-12 col-form-label" for="input-small">Select language</label>
          <div class="col-sm-12">
            <select  (change)="handle_lang($event.target.value)" class="form-control">
              <option value="" disabled>--choose--</option>
              <option value="en">English</option>
              <option value="fr">French</option>
              <option value="pt">Portuguese</option>
            </select>
          </div>
        </div>

    </div>

  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->