<div class="card  panel-primary">
    <div class="card-heading bg-primary">
        <h4 class="card-title ml-2 mt-2">
            <i class="fa fa-user" aria-hidden="true"></i>
            Profile                                
        </h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="cover-profile">
                    <div class="profile-bg-img">
                        
                        <div class="card-block user-info">
                            <div class="col-md-12">
                                <div class="media-left">
                                    <a href="#" class="profile-image" *ngIf="picture_link !== null"><img src="{{picture_link}}" alt="img" class="img-responsive rounded" height="200" />
                                    </a>
                                    <div class="fileinput-new thumbnail" style="width: 100px; height: 100px;" *ngIf="picture_link == null">
                                        <img src="https://app.ienafrica.org/images/authors/no_avatar.jpg" alt="..." class="img-responsive" height="100" />
                                    </div>
                                </div>
                                <br>
                                <div class="media-body row">
                                    <div class="col-lg-6">
                                        <div class="user-title">
                                            <h2>{{profile_info?.user.first_name}} {{profile_info?.user.last_name}}</h2>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="pull-right cover-btn float-right">
                                            <a (click)="update_profile()" class="btn btn-primary m-r-10">
                                                <i class="fa fa-plus mr-1"></i>Update
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <nav ngbNav #nav="ngbNav" class="nav-tabs">
            <ng-container ngbNavItem>
                <a ngbNavLink> Personal Information</a>
                <ng-template ngbNavContent>
                    <div >
                        <!-- personal card start -->
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="card  panel-primary">
                                    <div class="card-heading bg-primary">
                                        <h4 class="card-title ml-2 mt-2">
                                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                                            Personal Information                                
                                        </h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="rw">
                                            <div class="table-responsive-lg table-responsive-sm table-responsive-md">
                                                <table class="table table-bordered width100" id="table">
                                                    <tbody>
                                                        <tr>
                                                            <th scope="row">Full Name</th>
                                                            <td>{{profile_info?.user.first_name}} {{profile_info?.user.last_name}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Gender</th>
                                                            <td>{{profile_info?.profile_info?.gender}}</td>
                                                        </tr>
                                                        <tr *ngIf="profile_info?.profile_info?.phone">
                                                            <th scope="row">Mobile Number</th>
                                                            <td>{{profile_info?.profile_info?.phone}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Email Address</th>
                                                            <td>{{profile_info?.user.email}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Disability</th>
                                                            <td>{{profile_info?.profile_info?.disability}}</td>
                                                        </tr>
                                                        <tr  *ngIf="profile_info?.guardian?.length != 0">
                                                            <th scope="row">Guardian Name</th>
                                                            <td>{{profile_info?.guardian?.name}}</td>
                                                        </tr>
                                                        <tr  *ngIf="profile_info?.guardian?.length != 0">
                                                            <th scope="row">Guardian Contact</th>
                                                            <td>{{profile_info?.guardian?.contact}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>       
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card panel-primary ">
                                    <div class="card-heading bg-primary">
                                        <h4 class="card-title ml-2 mt-2">
                                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                                            About Me
                                            
                                        </h4>
                                    </div>
                                    <div class="card-body">
                                        <p>
                                            {{profile_info?.profile_info?.bio}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- personal card end-->
                    </div>
                </ng-template>
            </ng-container>
            <ng-container ngbNavItem>
                <a ngbNavLink>Additional Information</a>
                <ng-template ngbNavContent>
                    <div class="tab-pane" id="additional_info_tab" role="tabpanel">
                        <!-- info card start -->
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="card panel-primary ">
                                    <div class="card-heading bg-primary">
                                        <h4 class="card-title ml-2 mt-2">
                                            <i class="fa fa-address-card-o" aria-hidden="true"></i>
                                            Address Information
                                            
                                        </h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive-lg table-responsive-sm table-responsive-md">
                                            <table class="table table-bordered width100" id="table">
                                                <tbody>
                                                    <tr>
                                                        <th scope="row">Country</th>
                                                        <td>{{profile_info?.profile_info?.country}}</td>
                                                    </tr>
                                                    <!-- <tr>
                                                        <th scope="row">State/County</th>
                                                        <td>{{profile_info?.profile_info?.county}}</td>
                                                    </tr> -->
                                                    <tr>
                                                        <th scope="row">City/Town</th>
                                                        <td>{{profile_info?.profile_info?.city}}</td>
                                                    </tr>
                                                    <!-- <tr>
                                                        <th scope="row">Adress</th>
                                                        <td>{{profile_info?.profile_info?.physical_address}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Postal/Zip</th>
                                                        <td>{{profile_info?.profile_info?.postal_code}}</td>
                                                    </tr> -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- info card end -->
                                                <!-- info card start -->
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="card panel-primary ">
                                    <div class="card-heading bg-primary">
                                        <h4 class="card-title ml-2 mt-2">
                                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                                            Education Bckground Information                                
                                        </h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive-lg table-responsive-sm table-responsive-md">
                                        <table class="table table-bordered width100" id="table">
                                            <tbody>
                                                <tr>
                                                    <th scope="row" width=50%>Highest Level of Education</th>
                                                    <td>{{profile_info?.profile_info?.education_level}}</td>
                                                </tr>    
                                            </tbody>
                                        </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- info card end -->
                        
                        
                        
                    </div>
                </ng-template>
            </ng-container>

            <ng-container ngbNavItem>
            <a ngbNavLink>Account Information</a>
            <ng-template ngbNavContent>
                <div class="tab-pane" id="account_info_tab" role="tabpanel">
                    <!-- info card start -->
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="card panel-primary ">
                                <div class="card-heading bg-primary">
                                    <h4 class="card-title ml-2 mt-2">
                                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                                        Account Overview
                                    </h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive-lg table-responsive-sm table-responsive-md">
                                    <table class="table table-bordered width100" id="table">
                                        <tbody>
                                            
                                            <tr>
                                                <th scope="row">Joined</th>
                                                <td>{{profile_info?.user.date_created | date}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Status</th>
                                                <td *ngIf="profile_info?.user.is_active">
                                                    Activated
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- info card end -->
                </div>
            </ng-template>
            </ng-container>
            <ng-container ngbNavItem>
                <a ngbNavLink>Change Password</a>
                <ng-template ngbNavContent>
                    <div class="tab-pane" id="account_setting_tab" role="tabpanel">
                        <div class="card panel-primary ">
                            <div class="card-heading bg-primary">
                                <h4 class="card-title ml-2 mt-2">
                                    <i class="fa fa-lock"></i>
                                    Change Password
                                </h4>
                            </div>
                            <div class="card-body">
                                <div class="col-12 col-lg-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <strong>User Details</strong>
                                        </div>
                                        <div class="card-body">
                                        
                                            <form [formGroup]="ChangePasswordForm" (ngSubmit)="changepassword()">
                                                <div class="row">
                                                    <div class="form-group col-md-12">
                                                        <label>Current Password</label>
                                                        <div class="input-group ">
                            
                                                            <input [type]="current_passwordFieldType ? 'text' : 'password'" class="form-control"
                                                                formControlName="current_password" />
                                                            <div class="input-group-append">
                                                                <span class="input-group-text" >
                                                                    <i class="fa" [ngClass]="{'fa-eye-slash': !current_passwordFieldType,
                                                                    'fa-eye': current_passwordFieldType}" (click)="togglecurrent_passwordFieldType()"></i>
                                                                </span>
                                                            </div>
                            
                                                        </div>
                                                    </div>
                            
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-12">
                                                        <label>New Password</label>
                                                        <div class="input-group ">
                            
                                                            <input [type]="newpasswordFieldType ? 'text' : 'password'" class="form-control"
                                                                formControlName="new_password" />
                                                            <div class="input-group-append">
                                                                <span class="input-group-text">
                                                                    <i class="fa" [ngClass]="{'fa-eye-slash': !newpasswordFieldType,
                                                                    'fa-eye': newpasswordFieldType}" (click)="togglenewpasswordFieldType()"></i>
                                                                </span>
                                                            </div>
                            
                                                        </div>
                                                    </div>
                            
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-12">
                                                        <label>Confirm Password</label>
                                                        <div class="input-group ">
                            
                                                            <input [type]="confirm_passwordFieldType ? 'text' : 'password'" class="form-control"
                                                                formControlName="confirm_password" />
                                                            <div class="input-group-append">
                                                                <span class="input-group-text" >
                                                                    <i class="fa" [ngClass]="{'fa-eye-slash': !confirm_passwordFieldType,
                                                                    'fa-eye': confirm_passwordFieldType}" (click)="toggleconfirm_passwordFieldType()"></i>
                                                                </span>
                                                            </div>
                            
                                                        </div>
                                                    </div>
                            
                                                </div>
                                                <div class="row">
                                                    
                                                    <div class="form-group col-sm-12">
                                                        <label for="lastname">&nbsp;</label>
                                                        <button type="submit" class="btn btn-success col-sm-12" >
                                                            Submit</button>
                                                    </div>
                            
                                                </div>
                                            </form>
                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ng-container>
        </nav>
        
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
</div>









