<style>
   .btn-success {
     color: #fff !important;
     background-color: #198754 !important;
     border-color: #198754 !important;
 }
 </style>
 
 
 
 
 
 <div class="animated fadeIn" id="print">
     <div class="card">
       <div class="card-header">
         <strong>
            <span *ngIf="pending_report">
                Pending Reports
            </span>
            <span *ngIf="!pending_report">
             Products List
            </span>
            
          </strong>
       </div>
       <div class="card-body" >
         <form [formGroup]="searchForm" (ngSubmit)="fetch_products()" *ngIf="!hide_filter_form" class="hide">
           <div class="row ">           
             <div class="form-group col-sm-6">
               <label for="searchby"><strong>Select Status</strong></label>
               <select class="form-control" id="searchby" formControlName="status" required (change)="search_by($event.target.value)">
                 <option value="INSTOCK" selected>In Stock</option>
                 <option value="REORDERED">Re-ordered</option>
                 <option value="DISPATCHED">Dispached</option>
               </select>
             </div>
             
             <div class="form-group col-sm-6">
               <label for="countr">&nbsp;&nbsp;</label>
               <button type="submit" class="btn form-control  btn-success btn-md "> <i
                   class="fa fa-search"></i> &nbsp;Search </button>
             </div>
          
           </div>
         </form>
 
          <div class="table-responsive ">
             <div *ngIf="records?.length !== 0" class="m-5 hide">
                <table class="wikitable hover" width="100%">
                   <tr>
                      <td class="pl-3"><b>TOTAL RECORDS</b></td>
                      <td class="pl-3"><b>{{records?.length}}</b></td>
                   </tr>
                </table>
             </div>              
 
             <div class="mb-2 table-responsive">
                <div class="col-sm-4 col-md-4 col-lg-4 float-right mb-2 hide">
                   <div class="input-group">
                      <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-search"></i></span></div>
                      <input class="form-control " placeholder="Search Here" type="text" [(ngModel)]="searchString">
                   </div>
                </div>
 
                <button class="btn  btn-warning float-right mb-2 hide" styleSheetFile="assets/css/custom_table.css" printSectionId="print" ngxPrint *ngIf="records?.length != 0">Export/Print</button>
 
               <div *ngxPermissionsOnly="['STORE']" class="hide">
                  <table class="wikitable" [mfData]="records" #mf="mfDataTable"  [mfRowsOnPage]="10" width="100%" *ngIf="role !== 'JURY'">
                     <thead>
                     <tr>        
                        
                           <th></th>
                           <th>
                              <mfDefaultSorter by="name">Product Name</mfDefaultSorter>
                           </th>
                           <th class="text-center">
                              <mfDefaultSorter by="code">Product Code</mfDefaultSorter>
                           </th>
                           <th class="text-center">
                              <mfDefaultSorter by="quantity">Quantity</mfDefaultSorter>
                           </th>
                           <th class="text-center">
                              <mfDefaultSorter by="status">Status</mfDefaultSorter>
                           </th>
                           <th *ngxPermissionsOnly="['STORE','WAREHOUSE']" class="hide">
                              Action
                           </th>
                     </tr>
                     </thead>
                     <tbody *ngIf="records?.length != 0">
                     <tr *ngFor="let recordinstance of mf.data | filter : searchString; let i = index">            
                        <td>{{i + 1}}</td>
                        <td>{{ recordinstance.name }}</td>
                        <td class="text-center">
                          <span class="badge badge-info text-white" >
                             {{recordinstance.code}}
                          </span>
                        </td>
                        <td class="text-center">{{ recordinstance.quantity }}</td>
                        <td class="text-center">
                          <span class="badge badge-success" *ngIf="recordinstance.status == 'INSTOCK'">
                             {{recordinstance.status}}
                          </span>
                          <span class="badge badge-warning" *ngIf="recordinstance.status == 'REORDERED'">
                             {{recordinstance.status}}
                          </span>
                          <span class="badge badge-info" *ngIf="recordinstance.status == 'DISPATCHED'">
                             {{recordinstance.status}}
                          </span>
                        </td>
                        <td *ngxPermissionsOnly="['STORE','WAREHOUSE']" class="hide">
                           <button class="btn btn-info btn-small" (click)="buy(recordinstance.id )">Buy</button>
                        </td>
                     </tr>
                     </tbody>
                     <tfoot>
                     <tr class="hide">
                        <td colspan="12">
                           Select Records in a page : <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25,50,100,1000,5000]"></mfBootstrapPaginator>
                        </td>
                     </tr>
                     </tfoot>
                     <tbody *ngIf="records?.length == 0">
                     <tr>
                        <td colspan="9" class="no-data-available">No data available</td>
                     </tr>
                     <tbody>
                     </table>
               </div>

               <div *ngxPermissionsOnly="['WAREHOUSE']" class="hide">
                  <table class="wikitable" [mfData]="reorder_records" #mf="mfDataTable"  [mfRowsOnPage]="10" width="100%" *ngIf="role !== 'JURY'">
                     <thead>
                     <tr>        
                        
                           <th></th>
                           <th>
                              <mfDefaultSorter by="name">Product Name</mfDefaultSorter>
                           </th>
                           <th class="text-center">
                              <mfDefaultSorter by="code">Product Code</mfDefaultSorter>
                           </th>
                           <th class="text-center">
                              <mfDefaultSorter by="status">Status</mfDefaultSorter>
                           </th>
                           <th class="text-center">
                              <mfDefaultSorter by="quantity">Reorder Date</mfDefaultSorter>
                           </th>
                           <th *ngxPermissionsOnly="['WAREHOUSE']" class="hide">
                              Action
                           </th>
                     </tr>
                     </thead>
                     <tbody *ngIf="records?.length != 0">
                     <tr *ngFor="let recordinstance of mf.data | filter : searchString; let i = index">            
                        <td>{{i + 1}}</td>
                        <td>{{ recordinstance.name }}</td>
                        <td class="text-center">
                          <span class="badge badge-info text-white" >
                             {{recordinstance.code}}
                          </span>
                        </td>
                        <td class="text-center">
                          <span class="badge badge-success" *ngIf="recordinstance.status == 'INSTOCK'">
                             {{recordinstance.status}}
                          </span>
                          <span class="badge badge-warning" *ngIf="recordinstance.status == 'REORDERED'">
                             {{recordinstance.status}}
                          </span>
                          <span class="badge badge-info" *ngIf="recordinstance.status == 'DISPATCHED'">
                             {{recordinstance.status}}
                          </span>
                        </td>
                        <td class="text-center">{{ recordinstance.date_created | date }}</td>
                        <td *ngxPermissionsOnly="['WAREHOUSE']" class="hide">
                           <button class="btn btn-info btn-small" (click)="set_to_dispatch(recordinstance); createModal.show()">Dispatch</button>
                        </td>
                     </tr>
                     </tbody>
                     <tfoot>
                     <tr class="hide">
                        <td colspan="12">
                           Select Records in a page : <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25,50,100,1000,5000]"></mfBootstrapPaginator>
                        </td>
                     </tr>
                     </tfoot>
                     <tbody *ngIf="reorder_records?.length == 0">
                     <tr>
                        <td colspan="9" class="no-data-available">No data available</td>
                     </tr>
                     <tbody>
                     </table>
               </div>
                
          </div>        
       </div>
     </div>
 </div>
   
 
 <div bsModal #createModal="bs-modal" class="modal fade hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
   aria-hidden="true">
   <div class="modal-dialog modal-success" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h4 class="modal-title">Product Details</h4>
         <button type="button" class="close" (click)="createModal.hide()" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body table-responsive">
          <table class="wikitable" width="100%">
            <tr>
               <th>Name</th>
               <td>{{to_dispatch?.name}}</td>
            </tr>
          </table>
          <label>Enter Quantity</label>
            <input class="form-control" [(ngModel)]="quantity" placeholder="Enter Quantity">
            <!-- <button class="btn btn-block btn-success" (click)="dispatch(to_dispatch.id)">Dispatch</button> -->
 
       </div>
       
       <div class="modal-footer">
         <button   class="btn btn-success col-sm-12" (click)="createModal.hide();dispatch(to_dispatch.id)">Dispatch</button>      
       </div>
     </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
 </div><!-- /.modal -->