<div class=" pt-2" *ngIf="selected_lang == 'en'">
    <p style="text-align:center !important;"><span class="btn-link">African Adaptation Acceleration Program (AAAP)</span> &copy; {{year}} All Rights Reserved | <small>Powered by SmartBeaver</small>
        <br>
        For support contact us at <a href="mailto:youthadaptchallenge@afrilabs.com">youthadaptchallenge@afrilabs.com</a> /  <a href="mailto:solutionschallenge@gca.org">solutionschallenge@gca.org</a>
    </p>
</div>
<div class=" pt-2" *ngIf="selected_lang == 'fr'">
    <p style="text-align:center !important;">
        <span class="btn-link">
            Programme d'Accélération de l'Adaptation en Afrique (AAAP) </span> &copy; {{year}} Tous droits réservés | 
            <small>Propulsé par SmartBeaver</small>
        <br>
        Pour obtenir de l'aide, contactez-nous à <a href="mailto:youthadaptchallenge@afrilabs.com">youthadaptchallenge@afrilabs.com</a> /  <a href="mailto:solutionschallenge@gca.org">solutionschallenge@gca.org</a>
    </p>
</div>
<div class=" pt-2" *ngIf="selected_lang == 'pt'">
    <p style="text-align:center !important;"><span class="btn-link">
        Programa de Aceleração da Adaptação Africana (AAAP)</span> &copy; {{year}} Todos os direitos reservados | 
        <small>Alimentado pelo SmartBeaver</small>
        <br>
        Para suporte entre em contato conosco em <a href="mailto:youthadaptchallenge@afrilabs.com">youthadaptchallenge@afrilabs.com</a> /  <a href="mailto:solutionschallenge@gca.org">solutionschallenge@gca.org</a>
    </p>
</div>