<section>


  <div class="animated fadeIn">
    <div class="card">
      <div class="card-header">
        <strong>Retrieve Target Emails</strong>
      </div>
      <div class="card-body table-responsive">
        <form [formGroup]="emailForm">
          <div class="row">           
            <div class="form-group col-sm-6">
              <label for="searchby">Group</label>
              <select class="form-control" id="searchby" formControlName="group" required (change)="select_group($event.target.value)">
                <option value="" selected>--Select Scope Group--</option>
                <option value="APPLICATION">Applications</option>
                <option value="USER">Applicants</option>
                <option value="ADMIN">Management</option>
              </select>
            </div>
            <div class="form-group col-sm-6">
              <label for="stage">Target</label>
              <select class="form-control" id="stage" formControlName="target" required>
                <option value="" selected>--Select Target--</option>
                <option [value]="action?.value" *ngFor="let action of target">
                  {{action?.name}}
                </option>
              </select>
            </div>
         
          </div>

              <div class="form-group mt-4 mb-4">
                <div class="text-center">
                  <button type="submit" (click)="send()" class="btn btn-success col-6">
                    Retrieve
                  </button>                              
                </div>
            </div>
           
      </form>
      </div>
    </div>
  </div>


  <!-- <div class="animated fadeIn">
    <div class="card">
      <div class="card-header">
        <strong>Retrieve All Applications</strong>
      </div>
      <div class="card-body table-responsive">
        <form [formGroup]="emailForm">
           <div class="form-group mt-4 mb-4">
                <div class="text-center">
                  <button type="submit" (click)="fetch_applications()" class="btn btn-success col-6">
                    Retrieve
                  </button>                              
                </div>
            </div>
           
      </form>
      </div>
    </div>
  </div> -->

</section>
