<div bsModal #langModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Language Selection</h4>
        <button type="button" class="close" (click)="langModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <label class="col-sm-12 col-form-label" for="input-small">Select language</label>
            <div class="col-sm-12">
              <ng-select  (change)="handle_lang($event)" >
                <ng-option value="en">English</ng-option>
                <ng-option value="fr">French</ng-option>
              </ng-select>
            </div>
          </div>

      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<section *ngIf="selected_lang === 'en'">
  <div class="animated fadeIn" *ngIf="begin === false">
    <div class="card">
      <div class="card-header">
        <strong>Youth Adaptation - Application</strong>
      </div>
      <div class="card-body">
          <p>
            Applications to the Youth Adaptation will close on the <span class="text-danger">4th October 2022 at 23:59 GMT+1</span>. We will not accept any applications after this time.
          </p>
          <p>
            We encourage you to read all the information on the <span class="text-danger"> Adaptation Challenge</span> apply webpage, including the FAQs, eligibility criteria, privacy policy and terms & conditions, before completing this application form. All applications will be assessed against the judging criteria.
          </p>
          <p>
            Once your application has been submitted you will receive a confirmation email. You will not be able to edit your application once it has been submitted.  
          </p>
          <p>
            <strong>
              There are 5 sections in this entry form:
            </strong>
          </p>
          <p>
            Part 1: Your details<br>
            Part 2: Your proposal<br>
            Part 3: Attachments <br>
            Part 4: Additional Information <br>
            Part 5: Declaration 
          </p>
          <p>
            <strong>
              (<span class="text-danger">*</span>) indicates required fields 
            </strong>
          </p>
          <p>
            If you have any questions relating to the challenge please email: <span class="btn-link">precious@afrilabs.com</span> 
          </p>
          <div class="mt-4">
            <button type="button" class="btn btn-success col-2" (click)="start()" *ngIf="passed_deadline === false">
              Begin
            </button>
            <button type="button" class="btn btn-danger col-5" disabled *ngIf="passed_deadline === true">
              Application Closed
            </button>
          </div>
      </div>
    </div>
  </div>  
  
  <!-- begin application -->
  <div class="animated fadeIn" *ngIf="begin === true">
      <div class="card">
        <div class="card-header">
          <strong>Eligibility</strong>
        </div>
        <div class="card-body table-responsive">
          <form [formGroup]="applicationForm">
              <div class="form-group mb-4 ">
                  <label for="language" class=" control-label">
                    What language will you complete this form in?  
                    <span class="mark-required text-danger ml-1">*</span>
                  </label>
                  <div class="">
                      <ng-select id="language" class="required" formControlName="language" >
                        <ng-option selected disabled value="">--Select Below--</ng-option>
                        <ng-option value="English">English</ng-option>
                        <ng-option value="French">French</ng-option>
                        <ng-option value="Portuguese">Portuguese</ng-option>
                      </ng-select>
                  </div>
                  </div>
                  <div class="form-group mb-4 ">
                    <label for="innovation_early_stage" class=" control-label">
                      Is your innovation at a new/early-stage? 
                      <span class="mark-required text-danger ml-1">*</span>
                      <br>
                      <mark>(By this we mean that your innovation is still in the development phase and has not been released on the market for customers)</mark>
                      <span class="mark-required text-danger ml-1">*</span>
                    </label>
                    <div class="">
                        <ng-select id="innovation_early_stage" class="required" formControlName="innovation_early_stage" >
                          <ng-option selected disabled value="">--Select Below--</ng-option>
                          <ng-option value="Yes">Yes</ng-option>
                          <ng-option value="No">No</ng-option>
                        </ng-select>
                    </div>
                  </div>
                  <div class="form-group mb-4 ">
                    <label for="innovation_scaleup_stage" class=" control-label">
                      Is your innovation at a scale-up stage? 
                      <span class="mark-required text-danger ml-1">*</span>
                      <br>
                      <mark>(By this we mean that your innovation has been developed and released on the market for customers)</mark>
                      <span class="mark-required text-danger ml-1">*</span>
                    </label>
                    <div class="">
                        <ng-select id="innovation_scaleup_stage" class="required" formControlName="innovation_scaleup_stage" >
                          <ng-option selected disabled value="">--Select Below--</ng-option>
                          <ng-option value="Yes">Yes</ng-option>
                          <ng-option value="No">No</ng-option>
                        </ng-select>
                    </div>
                </div>
                <div class="form-group mb-4 ">
                  <label for="location" class=" control-label">
                    Is your enterprise/venture focused in Africa? 
                    <span class="mark-required text-danger ml-1">*</span>
                  </label>
                  <div class="">
                      <ng-select id="location" class="required" formControlName="location" >
                        <ng-option selected disabled value="">--Select Below--</ng-option>
                        <ng-option value="Yes">Yes</ng-option>
                        <ng-option value="No">No</ng-option>
                      </ng-select>
                  </div>
              </div>
              <div class="form-group mb-4 ">
                <label for="operation_type" class=" control-label">
                  Are you operating in Africa as either a registered business or individuals based in Africa?
                  <span class="mark-required text-danger ml-1">*</span>
                </label>
                <div class="">
                    <ng-select id="operation_type" class="required" formControlName="operation_type" >
                      <ng-option selected disabled value="">--Select Below--</ng-option>
                      <ng-option value="Yes">Yes</ng-option>
                      <ng-option value="No">No</ng-option>
                    </ng-select>
                </div>
              </div>
              <div class="form-group mb-4 ">
                <label for="lead_applicant_location" class=" control-label">
                  For partnership applications, is the nominated lead applicant operating in Africa?
                  <span class="mark-required text-danger ml-1">*</span>
                </label>
                <div class="">
                    <ng-select id="lead_applicant_location" class="required" formControlName="lead_applicant_location" >
                      <ng-option selected disabled value="">--Select Below--</ng-option>
                      <ng-option value="Yes">Yes</ng-option>
                      <ng-option value="No">No</ng-option>
                    </ng-select>
                </div>
              </div>
              <div class="form-group mb-4 ">
                <label for="licensed" class=" control-label">
                  Do you own or are you licensed to use relevant intellectual property included in your application?
                  <span class="mark-required text-danger ml-1">*</span>
                  <br>
                  <mark>(If your application is proposing a new innovation/idea, then AAAP YouthADAPT Program would expect that you would own all resulting intellectual property which may be able to be registered on a local basis if you become a successful participant in the Challenge. AAAP YouthADAPT Program would not be able to give you specific legal advice on the protection or exploitation of intellectual property)</mark>          
                </label>
                <div class="">
                    <ng-select id="licensed" class="required" formControlName="licensed" appendTo="body">
                      <ng-option selected disabled value="">--Select Below--</ng-option>
                      <ng-option value="Yes">Yes</ng-option>
                      <ng-option value="No">No</ng-option>
                    </ng-select>
                </div>
              </div>
              <div class="col-sm-12 text-right">
                <button type="submit" class="btn btn-success  " (click)="save_data()">Next <i class="fa fa-forward"></i></button>
              </div>
         </form>
        </div>
      </div>
  </div>
</section>

<section *ngIf="selected_lang === 'fr'">
  <div class="animated fadeIn" *ngIf="begin === false">
    <div class="card">
      <div class="card-header">
        <strong>Défi Adaptation Jeunesse - Formulaire de Candidature </strong>
      </div>
      <div class="card-body">
          <p>
            Les candidatures à l'Adaptation pour les Jeunes seront clôturées le <span class="text-danger">04 Octobre 2022 à 23:59 GMT+1.</span> Nous n'accepterons aucune candidature après cette date.
          </p>
          <p>
            Nous vous encourageons à lire toutes les informations sur la page web du<span class="text-danger"> Youth Adaptation Challenge</span>, y compris les FAQ, les critères d'éligibilité, la politique de confidentialité et les conditions générales, avant de remplir ce formulaire de candidature. Toutes les candidatures seront évaluées en fonction des critères de sélection.
          </p>
          <p>
            Une fois que votre candidature a été soumise, vous recevrez un e-mail de confirmation. Vous ne pourrez pas modifier votre candidature une fois qu'elle aura été soumise.
          </p>
          <p>
            <strong>
              Le formulaire d'inscription comporte 5 sections :
            </strong>
          </p>
          <p>
            Partie 1 : Vos coordonnées<br>
            Partie 2 : Votre proposition<br>
            Partie 3 : Pièce jointe <br>
            Partie 4 : Informations supplémentaires  <br>
            Partie 5 : Déclaration    
          </p>
          <p>
            <strong>
              (<span class="text-danger">*</span>)  indique les champs obligatoires 
            </strong>
          </p>
          <p>
            Si vous avez d'autres questions concernant le Défi, veuillez envoyer un e-mail à <span class="btn-link">precious@afrilabs.com</span>
          </p>
          <div class="mt-4">
            <button type="button" class="btn btn-success " (click)="start()" *ngIf="passed_deadline === false">
              Commencer
            </button>
            <button type="button" class="btn btn-danger " disabled *ngIf="passed_deadline === true">
              Candidature fermée
            </button>
          </div>
      </div>
    </div>
  </div>  
  
  <!-- begin application -->
  <div class="animated fadeIn" *ngIf="begin === true">
      <div class="card">
        <div class="card-header">
          <strong>Critères d'Éligibilité</strong>
        </div>
        <div class="card-body table-responsive">
          <form [formGroup]="applicationForm">
              <div class="form-group mb-4 ">
                  <label for="language" class=" control-label">
                    Dans quelle langue allez-vous remplir ce formulaire ?  
                    <span class="mark-required text-danger ml-1">*</span>
                  </label>
                  <div class="">
                      <ng-select id="language" class="required" formControlName="language" >
                        <ng-option selected disabled value="">--Sélectionnez ci-dessous--</ng-option>
                        <ng-option value="Anglais">Anglais</ng-option>
                        <ng-option value="Français">Français</ng-option>
                        <ng-option value="Portugais">Portugais</ng-option>
                      </ng-select>
                  </div>
                  </div>
                  <div class="form-group mb-4 ">
                    <label for="innovation_early_stage" class=" control-label">
                      Votre innovation est-elle à un stade nouveau/précoce ? 
                      <span class="mark-required text-danger ml-1">*</span>
                      <br>
                      <mark>(cela signifie que votre innovation est encore en phase de développement et qu'elle n'a pas encore été lancée sur le marché pour les clients)</mark>
                      <span class="mark-required text-danger ml-1">*</span>
                    </label>
                    <div class="">
                        <ng-select id="innovation_early_stage" class="required" formControlName="innovation_early_stage" >
                          <ng-option selected disabled value="">--Sélectionnez ci-dessous--</ng-option>
                          <ng-option value="Oui">Oui</ng-option>
                          <ng-option value="Non">Non</ng-option>
                        </ng-select>
                    </div>
                  </div>
                  <div class="form-group mb-4 ">
                    <label for="innovation_scaleup_stage" class=" control-label">
                      Votre innovation est-elle à un stade de mise à l'échelle ?  
                      <span class="mark-required text-danger ml-1">*</span>
                      <br>
                      <mark>(nous entendons par là que votre innovation s'est développée et a été mise sur le marché pour les clients)</mark>
                      <span class="mark-required text-danger ml-1">*</span>
                    </label>
                    <div class="">
                        <ng-select id="innovation_scaleup_stage" class="required" formControlName="innovation_scaleup_stage" >
                          <ng-option selected disabled value="">--Sélectionnez ci-dessous--</ng-option>
                          <ng-option value="Oui">Oui</ng-option>
                          <ng-option value="Non">Non</ng-option>
                        </ng-select>
                    </div>
                </div>
                <div class="form-group mb-4 ">
                  <label for="location" class=" control-label">
                    Votre entreprise est-elle orientée vers l'Afrique ?
                    <span class="mark-required text-danger ml-1">*</span>
                  </label>
                  <div class="">
                      <ng-select id="location" class="required" formControlName="location" >
                        <ng-option selected disabled value="">--Sélectionnez ci-dessous--</ng-option>
                        <ng-option value="Oui">Oui</ng-option>
                        <ng-option value="Non">Non</ng-option>
                      </ng-select>
                  </div>
              </div>
              <div class="form-group mb-4 ">
                <label for="operation_type" class=" control-label">
                  Êtes-vous actif en Afrique en tant qu'entreprise enregistrée ou en tant qu'individu basé en Afrique ?
                  <span class="mark-required text-danger ml-1">*</span>
                </label>
                <div class="">
                    <ng-select id="operation_type" class="required" formControlName="operation_type" >
                      <ng-option selected disabled value="">--Sélectionnez ci-dessous--</ng-option>
                      <ng-option value="Oui">Oui</ng-option>
                      <ng-option value="Non">Non</ng-option>
                    </ng-select>
                </div>
              </div>
              <div class="form-group mb-4 ">
                <label for="lead_applicant_location" class=" control-label">
                  Pour les demandes de partenariat, le candidat principal désigné opère-t-il en Afrique ?
                  <span class="mark-required text-danger ml-1">*</span>
                </label>
                <div class="">
                    <ng-select id="lead_applicant_location" class="required" formControlName="lead_applicant_location" >
                      <ng-option selected disabled value="">--Sélectionnez ci-dessous--</ng-option>
                      <ng-option value="Oui">Oui</ng-option>
                      <ng-option value="Non">Non</ng-option>
                    </ng-select>
                </div>
              </div>
              <div class="form-group mb-4 ">
                <label for="licensed" class=" control-label">
                  Êtes-vous propriétaire ou êtes-vous autorisé à utiliser la propriété intellectuelle pertinente incluse dans votre demande ?
                  <span class="mark-required text-danger ml-1">*</span>
                  <br>
                  <mark>(Si votre demande propose une nouvelle innovation/idée, le programme AAAP YouthADAPT s'attend à ce que vous soyez propriétaire de toute la propriété intellectuelle qui en résulte et qui peut être enregistrée sur une base locale si vous participez avec succès au défi. Le programme AAAP YouthADAPT n'est pas en mesure de vous donner des conseils juridiques spécifiques sur la protection ou l'exploitation de la propriété intellectuelle.)</mark>          
                </label>
                <div class="">
                    <ng-select id="licensed" class="required" formControlName="licensed" appendTo="body">
                      <ng-option selected disabled value="">--Sélectionnez ci-dessous--</ng-option>
                      <ng-option value="Oui">Oui</ng-option>
                      <ng-option value="Non">Non</ng-option>
                    </ng-select>
                </div>
              </div>
              <div class="col-sm-12 text-right">
                <button type="submit" class="btn btn-success " (click)="save_data()">suivante <i class="fa fa-forward"></i></button>
              </div>
         </form>
        </div>
      </div>
  </div>
</section>

<section *ngIf="selected_lang === 'pt'">
  <div class="animated fadeIn" *ngIf="begin === false">
    <div class="card">
      <div class="card-header">
        <strong>Adaptação juvenil - Formulario de solicitud</strong>
      </div>
      <div class="card-body">
          <p>
            Aplicaciones a la Adaptación Juvenil se cerrará en el  <span class="text-danger"> 04Outubro de 2022 às 23:59 GMT+1</span>. No aceptaremos ninguna solicitud después de este tempo. 
          </p>
          <p>
            Te animamos a ler toda a informação sobre el <span class="text-danger"> Desafio de adaptação juvenil </span> solicitar a página web, incluindo as preguntas frequentes, os critérios de elegibilidad, a política de privacidade e os termos e condições, antes de completar este formulário de solicitação. Todas as solicitudes se avaliam segundo os critérios de avaliação.
          </p>
          <p>
            Uma vez que você tenha enviado sua solicitação, receberá um correio eletrônico de confirmação. No podrá editar su solicitud uma vez que haya sido enviado.   
          </p>
          <p>
            <strong>
              Hay 5 seções neste formulário de inscrição: 
            </strong>
          </p>
          <p>
            Parte 1: Sus dados <br>
            Parte 2: Su propuesta <br>
            Parte 3: Anexo<br>
            Parte 4: Informações adicionais <br>
            Parte 5: Declaração 
          </p>
          <p>
            <strong>
              (<span class="text-danger">*</span>) indica espaços obrigatórios
            </strong>
          </p>
          <p>            
            Se tiver mais perguntas relacionadas com o desafío, envie um correio eletrônico  : <span class="btn-link">precious@afrilabs.com</span> 
          </p>
          <div class="mt-4">
            <button type="button" class="btn btn-success col-2" (click)="start()" *ngIf="passed_deadline === false">
              Começar
            </button>
            <button type="button" class="btn btn-danger col-5" disabled *ngIf="passed_deadline === true">
              Aplicativo fechado
            </button>
          </div>
      </div>
    </div>
  </div>  
  
  <!-- begin application -->
  <div class="animated fadeIn" *ngIf="begin === true">
      <div class="card">
        <div class="card-header">
          <strong>Critério de Elegibilidade</strong>
        </div>
        <div class="card-body table-responsive">
          <form [formGroup]="applicationForm">
              <div class="form-group mb-4 ">
                  <label for="language" class=" control-label">
                    ¿En qué idioma completo este formulario?  
                    <span class="mark-required text-danger ml-1">*</span>
                  </label>
                  <div class="">
                      <ng-select id="language" class="required" formControlName="language" >
                        <ng-option selected disabled value="">--Selecione abaixo--</ng-option>
                        <ng-option value="English">Inglês</ng-option>
                        <ng-option value="French">Francês</ng-option>
                        <ng-option value="Portuguese">Português</ng-option>
                      </ng-select>
                  </div>
                  </div>
                  <div class="form-group mb-4 ">
                    <label for="innovation_early_stage" class=" control-label">
                      ¿Se encontrou com a inovação em uma etapa nova/temprana? 
                      <span class="mark-required text-danger ml-1">*</span>
                      <br>
                      <mark>(Con esto queremos decidir que su innovación aún está em fase de desarrollo y no ha sido lançado no mercado para los clientes)</mark>
                      <span class="mark-required text-danger ml-1">*</span>
                    </label>
                    <div class="">
                        <ng-select id="innovation_early_stage" class="required" formControlName="innovation_early_stage" >
                          <ng-option selected disabled value="">--Selecione abaixo--</ng-option>
                          <ng-option value="Sim">Sim</ng-option>
                          <ng-option value="Não">Não</ng-option>
                        </ng-select>
                         
                        Sim 
                        Não
                    </div>
                  </div>
                  <div class="form-group mb-4 ">
                    <label for="innovation_scaleup_stage" class=" control-label">
                      ¿Se encontrou com a inovação em uma etapa de ampliação? 
                      <span class="mark-required text-danger ml-1">*</span>
                      <br>
                      <mark>(Con esto queremos decidir que su innovación se ha desarrollado y se ha lanzado al mercado para los clientes)</mark>
                      <span class="mark-required text-danger ml-1">*</span>
                    </label>
                    <div class="">
                        <ng-select id="innovation_scaleup_stage" class="required" formControlName="innovation_scaleup_stage" >
                          <ng-option selected disabled value="">--Selecione abaixo--</ng-option>
                          <ng-option value="Sim">Sim</ng-option>
                          <ng-option value="Não">Não</ng-option>
                        </ng-select>
                    </div>
                </div>
                <div class="form-group mb-4 ">
                  <label for="location" class=" control-label">
                    ¿Su empresa/empresa está enfocada na África? 
                    <span class="mark-required text-danger ml-1">*</span>
                  </label>
                  <div class="">
                      <ng-select id="location" class="required" formControlName="location" >
                        <ng-option selected disabled value="">--Selecione abaixo--</ng-option>
                        <ng-option value="Sim">Sim</ng-option>
                        <ng-option value="Não">Não</ng-option>
                      </ng-select>
                  </div>
              </div>
              <div class="form-group mb-4 ">
                <label for="operation_type" class=" control-label">
                  ¿Está operando na África como empresa registrada ou como indivíduo com sede na África?
                  <span class="mark-required text-danger ml-1">*</span>
                </label>
                <div class="">
                    <ng-select id="operation_type" class="required" formControlName="operation_type" >
                      <ng-option selected disabled value="">--Selecione abaixo--</ng-option>
                      <ng-option value="Sim">Sim</ng-option>
                      <ng-option value="Não">Não</ng-option>
                    </ng-select>
                </div>
              </div>
              <div class="form-group mb-4 ">
                <label for="lead_applicant_location" class=" control-label">
                  Para las solicitudes de asociación, ¿el solicitante principal designado opera en África?
                  <span class="mark-required text-danger ml-1">*</span>
                </label>
                <div class="">
                    <ng-select id="lead_applicant_location" class="required" formControlName="lead_applicant_location" >
                      <ng-option selected disabled value="">--Selecione abaixo--</ng-option>
                      <ng-option value="Sim">Sim</ng-option>
                      <ng-option value="Não">Não</ng-option>
                    </ng-select>
                </div>
              </div>
              <div class="form-group mb-4 ">
                <label for="licensed" class=" control-label">
                  ¿É proprietário ou tem licença para usar propriedade intelectual relevante incluída em sua aplicação? 
                  <span class="mark-required text-danger ml-1">*</span>
                  <br>
                  <mark>(Si su aplicación propone una nueva innovación/idea, entoncesPrograma AAAP YouthADAPT esperar que usted sea el propietario de toda a propiedad resultante intelectual que pueda registrarse a nivel local se convierte en un participante exitoso en el Desafío.Programa AAAP YouthADAPT no podría brindarle assoramiento legal específico sobre a proteção ou exploração da propriedade intelectual.)</mark>          
                </label>
                <div class="">
                    <ng-select id="licensed" class="required" formControlName="licensed" appendTo="body">
                      <ng-option selected disabled value="">--Selecione abaixo--</ng-option>
                      <ng-option value="Sim">Sim</ng-option>
                      <ng-option value="Não">Não</ng-option>
                    </ng-select>
                </div>
              </div>
              <div class="col-sm-12 text-right">
                <button type="submit" class="btn btn-success  " (click)="save_data()">Prosseguir <i class="fa fa-forward"></i></button>
              </div>
         </form>
        </div>
      </div>
  </div>
</section>



  
  