<div class="animated fadeIn">
  <div class="card">
  
    <div class="card-header">
        Create Jury Groups
    </div>
    <div class="card-body">

      <!-- <app-dynamic-form  (submit)="registeruser()">
      </app-dynamic-form>

      <div class="margin-top">
      </div> -->
      
      <form [formGroup]="registerForm">
        <div class="form-group mb-4 ">
          <label for="role" class=" control-label">
            Role
          </label>
          <div class="">
              <select appendTo="body" class="form-control" dropdownPosition="bottom" formControlName="role" (change)="fetchUserRoles($event.target.value)">
                <option selected disabled value="">--Select Below--</option>
                <option [value]="role.name" *ngFor="let role of user_roles_list">{{role.name}}</option>
                <option value="other">Other</option>
              </select>
          </div>
        </div>
        <div class="form-group mb-4 ">
          <label for="innovation_stage" class=" control-label">
            Language
          </label>
          <div class="">
              <select appendTo="body" dropdownPosition="bottom" class="form-control" formControlName="language" (change)="fetchUnassigned($event.target.value)">
                <option selected disabled value="">--Select Below--</option>
                <option value="ALL">ALL</option>
                <option [value]="language?.id" *ngFor="let language of languages">{{language?.name}}</option>
              </select>
          </div>
        </div>
        <div class="form-group mb-4 ">
          <label for="innovation_stage" class=" control-label">
            Groups
          </label>
          <div class="">
              <select appendTo="body" class="form-control" dropdownPosition="bottom" formControlName="group" (change)="switcher($event.target.value)">
                <option selected disabled value="">--Select Below--</option>
                <option [value]="group" *ngFor="let group of groups">{{group}}</option>
                <option value="other">Other</option>
              </select>
          </div>
        </div>
        <div class="form-group mb-4" *ngIf="is_other_group">
          <label for="other_group" class="control-label">
            Enter new Group name.
  
          </label>
          <div class="">
             <input id="other_group"  type="text" class="form-control"  formControlName="group" />                                 
          </div>
        </div>
        <div class="form-group">            
          <label class="control-label" for="assignees">Evaluators</label>
          <ng-select  class="required" formControlName="assignees" [multiple]="true">
              <ng-option selected disabled value="" >--Select Assignees--</ng-option>
              <ng-option [value]="user?.id" *ngFor="let user of user_list">{{user?.first_name}} {{user?.first_name}}</ng-option> 
          </ng-select>
        </div>
        <div class="form-group">            
          <label class="control-label" for="applications">Applications</label>
          <ng-select  class="required" formControlName="applications" [multiple]="true">
              <ng-option selected disabled value="" >--Select Applications--</ng-option>
              <ng-option [value]="application?.id" *ngFor="let application of applications">{{application?.name}}</ng-option> 
          </ng-select>
        </div>       
        <div class="form-group mb-4">
          <div class="">
             <button class="btn btn-success pl-6 pr-6" (click)="registeruser()">Create</button>                                
          </div>
        </div>
       
      </form>

    </div>
  </div>
</div>

<!-- 
        <app-common-loader></app-common-loader> -->